@import 'variables';

@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@import "variables";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
}

// Scrollbars
::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
  margin: $scrollbar-margin;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//Buttons
.btn {
  background: $action-color;
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #fafafa;

  &:hover {
    cursor: pointer;
    color: white;
    background: lighten($action-color, 10%);
  }

  &.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: $btn-padding-y-sm / 4 $btn-padding-x-sm / 2;
  }

  &.btn-xxs {
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    padding: $btn-padding-y-sm / 4 $btn-padding-x-sm / 2;
  }
}


// HEADERS
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
// H1 IS USED FOR WEBSITE and PAGE TITLE (i.e. EpiPolicy)
h1 {
  margin: 0 0 $xl-margin 0;
}
// H2 IS USED FOR SECTIONS
h2 {
  margin: $xl-margin 0 $lg-margin 0; 
}
// H3 IS USED FOR SUB-SECTIONS
h4 {
  margin: $lg-margin 0 $md-margin 0;
}
// H3 IS USED FOR SUB-SUB-SECTIONS
h3 {
  margin: $lg-margin 0 $sm-margin 0;
}
// H5 and H6 NOT USED
h5, h6 {
  margin: 0;
  background-color: red;
}

h1.title {
  .title-logo {
    height: 1.5 * $font-size-base;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  
  &:hover {
    color: $action-color-highlighted;
    text-decoration: none;
  }
}

p, pre {
  margin-bottom: $lg-margin;
}

pre {
  padding: $md-margin;
  border: 1px solid darken($code-background, 10%);
  border-radius: $sm-margin;
  background-color: $code-background;
  code, .hljs {
    font-size: 0.8 * $font-size-base;
    background-color: $code-background;
  }
}

.todo {
  background-color: rgb(228, 205, 130);
  padding: $lg-margin;
  margin: $lg-margin;

  &::before {
    content: "TODO: ";
    font-weight: bold;
  }
}

.tooltip-link {
  color: $action-color;
  display: inline-block;
}

.tutorial-video-container {
  width: 100%;
  margin-bottom: $lg-margin;
}
.tutorial-video {
  border: 1px solid #ddd;
  width: 100%;
}

figure {
  margin-bottom: $lg-margin;
}

ol, ul, dl {
  margin-bottom: $lg-margin;
}

.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .card {
    flex-grow: 1;
    margin: 0 $lg-margin $lg-margin 0;
  }
}

.card {
  .card-title {
    margin: 0 0 $lg-margin 0;
  }

  &.link-card {
    color: $card-text-color;
    border: 4px solid transparent;
    background-color: $card-background;
    transition: border $animation-time ease-in-out; 

    * {
      color: $card-text-color;
    }

    &:hover {
      border: 4px solid lighten($card-border-color, 10%);
    }
  }
}

#root {
  height: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;

  #app {
    width: 100%;
    height: 100%;
    display: flex;

    #menu-toggle {
      position: absolute;
      cursor: pointer;
      z-index: 42;
      top: $sm-margin;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      text-align: center;
      padding: 0.25rem;
      background-color: darken($sidebar-background, 5%);
      color: darken($sidebar-background, 20%);

      left: $sidebar-width - 1rem;
      transition: left $sidebar-animation-time ease-in-out;

      &:hover {
        background-color: darken($sidebar-background, 10%);
        color: darken($sidebar-background, 30%);
      }
    }

    #sidebar-container {
      position: fixed;
      height: 100%;
      border-right: 1px solid darken($sidebar-background, 20%);
      background-color: $sidebar-background;
      overflow: hidden;
      width: $sidebar-width;
      transition: width $sidebar-animation-time ease-in-out;
      padding: 0;

      #sidebar {
        position: fixed;
        width: $sidebar-width;
        left: 0;
        transition: left $sidebar-animation-time ease-in-out;
      }
    }

    #main-panel-container {
      padding: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $background-color;
      margin: 0 0 0 $sidebar-width;
      transition: margin $sidebar-animation-time ease-in-out;

      #page-display {

        @media (max-width: $page-content-width + 2 * $sidebar-width) {
          #page-navbar-container {
            display: none;
          }
        }

        #page-content {
          margin: 0;
          transition: margin $sidebar-animation-time ease-in-out;
          max-width: $page-content-width!important;
        }
      }
    }

    &.hide-sidebar {
      #sidebar-container {
        width: 0;

        #sidebar {
          left: - $sidebar-width;
        }
      }

      #menu-toggle {
        left: $sm-margin;
      }

      #main-panel-container {
        margin: 0 0 0 $lg-margin;
      }
      
    }

  }

}