@import 'variables';

@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@import "variables";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
}

// Scrollbars
::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
  margin: $scrollbar-margin;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//Buttons
.btn {
  background: $action-color;
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #fafafa;

  &:hover {
    cursor: pointer;
    color: white;
    background: lighten($action-color, 10%);
  }

  &.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: $btn-padding-y-sm / 4 $btn-padding-x-sm / 2;
  }

  &.btn-xxs {
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    padding: $btn-padding-y-sm / 4 $btn-padding-x-sm / 2;
  }
}


// HEADERS
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
// H1 IS USED FOR WEBSITE and PAGE TITLE (i.e. EpiPolicy)
h1 {
  margin: 0 0 $xl-margin 0;
}
// H2 IS USED FOR SECTIONS
h2 {
  margin: $xl-margin 0 $lg-margin 0; 
}
// H3 IS USED FOR SUB-SECTIONS
h4 {
  margin: $lg-margin 0 $md-margin 0;
}
// H3 IS USED FOR SUB-SUB-SECTIONS
h3 {
  margin: $lg-margin 0 $sm-margin 0;
}
// H5 and H6 NOT USED
h5, h6 {
  margin: 0;
  background-color: red;
}

h1.title {
  .title-logo {
    height: 1.5 * $font-size-base;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  
  &:hover {
    color: $action-color-highlighted;
    text-decoration: none;
  }
}

p, pre {
  margin-bottom: $lg-margin;
}

pre {
  padding: $md-margin;
  border: 1px solid darken($code-background, 10%);
  border-radius: $sm-margin;
  background-color: $code-background;
  code, .hljs {
    font-size: 0.8 * $font-size-base;
    background-color: $code-background;
  }
}

.tooltip-link {
  color: $action-color;
  display: inline-block;
}

.tutorial-video-container {
  width: 100%;
  margin-bottom: $lg-margin;
}
.tutorial-video {
  border: 1px solid #ddd;
  width: 100%;
}

figure {
  margin-bottom: $lg-margin;
}

ol, ul, dl {
  margin-bottom: $lg-margin;
}

.card-deck {
  display: flex;
  flex-direction: row;

  .card {
    flex-grow: 0.5;
    margin: 0 $lg-margin $lg-margin 0;
  }
}

.card {
  .card-title {
    margin: 0;
  }
}

#root {
  height: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;

  #app {
    width: 100%;
    height: 100%;
    display: flex;

    #sidebar-container {
      position: fixed;
      height: 100%;
      border-right: 1px solid #c3c3c3;
      background-color: $sidebar-background;
      overflow: hidden;
      width: $sidebar-width;

      &.hide-sidebar {
        display: none;
      }
      
      #sidebar {
        position: fixed;
        width: $sidebar-width;
      }
      padding: 0;
    }
  
    #main-panel-container {
      padding: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $background-color;
      margin: 0 0 0 $sidebar-width;

      #page-display {

        @media (max-width: $page-content-width + 2 * $sidebar-width) {
          #page-navbar-container {
            display: none;
          }
        }

        #page-content {
          margin: 0;
          max-width: $page-content-width!important;
        }
      }

      &.hide-sidebar {
        margin: 0;

        #page-display {
          #page-content {
            margin: auto;
          }
        }
      }

    }

  }

}