@import "variables";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
}

// Scrollbars
::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
  margin: $scrollbar-margin;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//Buttons
.btn {
  background: $action-color;
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #fafafa;

  &:hover {
    cursor: pointer;
    color: white;
    background: lighten($action-color, 10%);
  }

  &.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: $btn-padding-y-sm / 4 $btn-padding-x-sm / 2;
  }

  &.btn-xxs {
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    padding: $btn-padding-y-sm / 4 $btn-padding-x-sm / 2;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2, h3 {
  margin-bottom: 0.5rem;
}
h4 {
  margin-bottom: 0.1rem;
}
h5, h6 {
  margin-bottom: 0;
}

a {
  color: $action-color;
}

.tooltip-link {
  color: $action-color;
  display: inline-block;
}

#page-content {
  margin: 0;
}

.page-body {
  max-width: 46rem!important;
}

.tutorial-video-container {
  width: 100%;
}
.tutorial-video {
  border: 1px solid #ddd;
  width: 100%;
}