@import "../variables";

#page-display {
  padding: $lg-margin;
  margin: 0;

  &.no-padding {
    padding: 0;
  }

	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 300ms;

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #page-content {
    .tex {
      display: inline-block;
    }
    texb {
      .MathJax {
        text-align: left;
      }
    }
  }

  img {
    max-width: 100%;
  }

}