@import "../variables";

#page-display {
  padding: 0;
  margin: 0;

	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 300ms;

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #page-content {
    .latex {
      display: inline-block;
    }
    .latex-line {
      display: block;
    }
    .latex-line-left {
      display: block;
      .MathJax {
        text-align: left;
      }
    }
  }

  img {
    max-width: 100%;
  }

}