@import "../variables";

#page-display {
  padding: $lg-margin;

  #page-content {
    .latex {
      display: inline-block;
    }
    .latex-line {
      display: block;
    }
    .latex-line-left {
      display: block;
      .MathJax {
        text-align: left;
      }
    }
  }

}