@import "../variables";

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .title {
    cursor: pointer;
    padding: $xl-margin $lg-margin $lg-margin $lg-margin;
    margin: 0;
  }

  .title-logo {
    height: 1.5 * $font-size-base;
  }

  .menu {
    flex-grow: 1;
    overflow: auto;
    padding: 0 $lg-margin $lg-margin $lg-margin;

    &::-webkit-scrollbar {
      width: $scrollbar-size / 2;
      height: $scrollbar-size / 2; 
      margin: $scrollbar-margin / 2;
    }
  }

  .menu-item {
    color: $action-color;
    font-size: 0.9 * $font-size-base;
    cursor: pointer;
    padding: $sm-margin 0 $sm-margin 0;
    &.active {
      font-weight: 400;
    }
    &:hover {
      color: $action-color-highlighted;
    }
  }

  .menu-parent-item {
    margin-bottom: $sm-margin;
    color: gray;
  }

  .menu-children {
    margin-left: $md-margin;
    margin-bottom: $lg-margin;
  }

  .login-box {
    padding: $lg-margin;
    width: 100%;
    cursor: pointer;

    input {
      width: 100px;
    }

    .login-error {
      width: 80%;
      text-align: right;
      color: red;
    }
  }

}